 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container-fluid {
     background-color: #D6E9AA;
     margin-top: 80px;
     font-family: 'Amatic SC', cursive;
 }

 .container-fluid h1 {
     font-size: 52px;
     margin-bottom: 90px;
     text-align: center;
    
 }

 .team {
     display: flex;
     text-align: center;
     width: auto;
     flex-wrap: wrap;

 }


 .team .team_member {
     background: #fff;
     margin: 20px;
     margin-bottom: 50px;
     width: 300px;
     padding: 29px;
     line-height: 20px;
     color: #363636;
     position: relative;
     left: 14%;
 }

 .team_member h3 {
     margin-top: 50px;
     font-size: 26px;

 }

 .team .team_member p.role {
     color: greenyellow;
     font-size: 18px;
     text-transform: uppercase;
     margin: 12px 0;
 }

 .team .team_member .team_img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     position: absolute;
     top: -50px;
     left: 35%;
     transform: rotateX(-50%);
     background: #FFF;
     border-radius: 55%;
 }

 .team .team_member .team_img img {
     width: 100px;
     height: 100px;
     padding: 15px;
     border-radius: 50%;

 }

 