<section id="about">
    <div class="about-1">
        <h1>ABOUT US</h1>
        <p>welcome to shrek-juike this is the only web site of our chain . With many years of experience, we are very
            pleased to serve you. Our restaurant is open 24/7 and always ensure the best service for you shrek-juice
            is the most popular website selling water at the moment, especially when buying water at shrek-juice, you
            will receive a lot of special offers and enthusiastic advice on the process of fast shipping, low cost and
            good service. extremely high quality. 100% natural ingredients ensure absolute safety for customers,</p>
    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>SHOP MENU</h3>
                            <hr>
                            <p>This sales website is a website that allows businesses and customers to conduct online
                                purchases and sales of products/services. Specifically, when accessing these Websites,
                                you can view product information, search for products to buy, order and pay quickly.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>CHAIN STORE</h3>
                            <hr>
                            <p>This sales website is a website that allows businesses and customers to conduct online
                                purchases and sales of products/services. Specifically, when accessing these Websites,
                                you can view product information, search for products to buy, order and pay quickly.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-cubes"></i>
                            <h3>STALLS</h3>
                            <hr>
                            <p>This sales website is a website that allows businesses and customers to conduct online
                                purchases and sales of products/services. Specifically, when accessing these Websites,
                                you
                                can view product information, search for products to buy, order and pay quickly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="text-center">
    <p>Shrek-Juice &copy; 2022 has been licensed to do business from the Department of Planning and Investment.</p>

</footer>