<div class="container-fluid">
    <img class="baner" src="/assets/img/baner-icon/banners-2540-Menu-2020-FreshJuice-10.jpg" alt="">
</div>
<div class="container title-menu">
    <h1 class="title">select your menu</h1>
    <div class="container select-menu-showmb">
        <select class="form-select mt-3" name="" id="">
            <option value="">Fuit Juices</option>
            <option value="">Vegetable Juice</option>
            <option value="">Smoothies</option>
            <option value="">Protein Shakes</option>
            <option value="">Winter Menu</option>
            <option value="">Chocolate Juice</option>
            <option value="">Mocks Tails</option>
        </select>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="img-oring"><img src="/assets/img/baner-icon/fresh-juices.png" alt=""></span>
            <span class="text">Fresh Juices</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="img-oring"><img src="/assets/img/baner-icon/fresh-juices.png" alt=""></span>
            <span class="text">Vegetable Juices</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="img-oring"><img src="/assets/img/baner-icon/juice-farmacy.png" alt=""></span>
            <span class="text">Smoothies</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">
            <span class="img-oring"><img src="/assets/img/baner-icon/bottled.png" alt=""></span>
            <span class="text">Protein Shakes</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="img-oring"><img src="/assets/img/baner-icon/smoothies.png" alt=""></span>
              <span class="text">Winter Menu</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="img-oring"><img src="/assets/img/baner-icon/juice-farmacy.png" alt=""></span>
              <span class="text">Chocolate Juice</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <span class="img-oring"><img src="/assets/img/baner-icon/bottled.png" alt=""></span>
              <span class="text">Mocks Tails</span>
            </a>
          </li>
      </ul>
</div>