@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.navbar .container-fluid{
   justify-content: space-around;
}
.navbar-collapse{
   flex-grow: 0;
}
.fa-magnifying-glass{
   font-size: 20px;
}
.d-flex{
   align-items: center;
}
.nav-link{
   color: #000;
   text-transform: uppercase;
   font-family: 'Amatic SC', cursive;
}
.navbar-brand img{
   width: 170px;
   height: 170px;
   margin-bottom: -50px;
   border-radius: 50%;
}

.form-control{
   border-radius: 0;
   border-bottom: 1px solid #000;
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 2px;

}
::-webkit-input-placeholder{
   font-family: 'Amatic SC', cursive;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 11px;
}
.fa-cart-shopping{
   color: black;
   font-size: 20px;
}
/* menu */
.bg-secondary{
   background-color: #F7F7F7 ! important;
}
.menu .nav-item .nav-link:hover{
   background-color: #E5E5E5;
}
.menu .nav-item .nav-link{
   margin: 0 50px;
   display: inline-block;
   
}